@keyframes blindCursor {
  50% {
    border-right-color: transparent;
  }
}
/* 
@keyframes cursorWrite {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 70%;
  }
  90%,
  100% {
    width: 0;
  }
} */

.home {
  width: 100%;
}

.left {
  position: absolute;
  top: 15%;
  float: left;
}

.hello {
  color: #ffbd39;
  font-size: 1.5em;
}
.name {
  font-size: 3em;
  font-weight: 800;
  padding: 20px 0 5px 0;
}

.my-name {
  color: #ffbd39;
}

.poste {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid #fff;
  padding-right: 0.1em;
  animation: cursorWrite 8s steps(11) infinite,
    blindCursor 1s step-end infinite alternate;
}
.right {
  float: right;
  top: 0;
  margin-left: 50px;
}

.avatar {
  width: 800px;
}
