@keyframes blindCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes poste {
  0% {
    content: "Engeenier BigData";
  }
  50% {
    content: "Developper Python";
  }
  100% {
    content: "Engeenier BigData";
  }
}

.container_home {
  height: calc(100vh - 106px);
}
.container_first_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.container_hello {
  width: 100%;
  text-align: start;
  font-size: 1rem;
  color: #ffbd39;
}

.container_bio {
  font-size: 2.5rem;
  text-align: left;
}

.container_name {
  color: #ffbd39;
}

.container_poste {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid #fff;
  padding-right: 0.1em;
  animation: cursorWrite 8s steps(11) infinite,
    blindCursor 1s step-end infinite alternate;
}

/* .poste::before {
  content: "Engeenier BigData";
  animation: poste 4s infinite 4s;
} */

.poste {
  /* color: ; */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  display: inline-block;
  padding: 0;
  border-right: 1px solid #414141;
}
.avatar {
  width: 720px;
  object-fit: cover;
}
