.navbar {
  width: 88%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 110px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  padding: 0 15px;
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
