.navbar {
  width: 88%;
  margin: auto;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 110px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  text-decoration: none;
  padding: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
