.main {
  padding: 0 10%;
  min-height: 100vh;
  color: white;
  overflow: hidden;
  position: relative;
}
.navbar {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 150px;
  cursor: pointer;
  padding: 10px 0;
}
.navbar .nav {
  display: flex;
  gap: 10px;
}

.navbar-dark .list-menu {
  color: #fff;
}

.navbar-light .list-menu {
  color: #000;
}

.nav .list-menu {
  text-decoration: none;
  font-weight: 500;
  margin: 20px;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav .list-menu.active {
  color: #ffbd39;
}

.nav .list-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 3px;
  background-color: #ffbd39;
  transition: transform 0.3s ease;
}
.nav .list-menu:hover {
  cursor: pointer;
  color: #ffbd39;
}

.nav .list-menu.active::after,
.nav .list-menu:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.nav .bi {
  cursor: pointer;
  font-size: 1.6em;
  color: #ffbd39;
  padding: 15px 30px;
}
